$primary: #32e0c4;
$light: #eeeeee;
$dark: #222831;
$bg: $dark;

body {
  margin: 0;
  padding: 0;

  * {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}

.hidden {
  position: absolute;
  left: -1000;
  top: 0;
}

#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: $bg;
  color: $light;

  #visual {
    position: fixed;
    width: 100%;
    height: 100%;
    filter: url("#liquid-effect");
  }

  .controls {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .button {
      background: transparent;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      font-size: 1rem;
      color: $dark;
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:focus {
        border: none;
        outline: none;
      }

      .shape__play {
        width: 0;
        height: 0;
        display: block;
        border-top: 50px solid transparent;
        border-left: 50px solid $dark;
        border-bottom: 50px solid transparent;
        // display: none;
      }

      .shape__pause {
        display: block;
        display: none;

        &:before {
          content: "";
          display: inline-block;
          margin-right: 1rem;
          width: 25px;
          height: 100px;
          background: $dark;
        }

        &:after {
          content: "";
          display: inline-block;
          width: 25px;
          height: 100px;
          background: $dark;
        }
      }
    }
  }

  .links {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    left: 1rem;

    a {
      margin-right: 1rem;
      font-size: 1.5rem;
      color: $light;

      &:active {
        color: $light;
      }
    }
  }

  .bar {
    position: absolute;
    background: $primary;
  }

  .circle__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:first-child {
      .circle {
        background: $primary;
      }
    }

    .circle {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-image: linear-gradient(180deg, transparent 10%, $primary 60%);
      transform: translate(-50%, -50%);
    }
  }
}
