$primary: #32e0c4;
$light: #eeeeee;
$dark: #222831;
$bg: $dark;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  * {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}

.hidden {
  position: absolute;
  left: -1000;
  top: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: $bg;
  color: $light;

  #visual {
    position: fixed;
    width: 100%;
    height: 100%;
    filter: url("#liquid-effect");
  }

  .controls {
    position: absolute;

    .button {
      background: $primary;
      border: none;
      border-radius: 0.2rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      font-size: 1rem;
      color: $dark;
    }
  }

  .links {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    left: 1rem;

    a {
      margin-right: 1rem;
      font-size: 1.5rem;
      color: $light;

      &:active {
        color: $light;
      }
    }
  }

  .bar {
    position: absolute;
    background: $primary;
  }

  .circle__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:first-child {
      .circle {
        background: $primary;
      }
    }

    .circle {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-image: linear-gradient(180deg, transparent 10%, $primary 60%);
      transform: translate(-50%, -50%);
    }
  }
}
